<!-- head dùng chung cho views -->

<!-- Required meta tags -->
<title><%= title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel='stylesheet' href='/stylesheets/style.css' />
<!-- icon -->
<link rel="icon" href="/images/favicon.ico">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css">
<!-- animate CSS -->
<link rel="stylesheet" href="/stylesheets/css/animate.css">
<!-- owl carousel CSS -->
<link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css">
<!-- themify CSS -->
<link rel="stylesheet" href="/stylesheets/css/themify-icons.css">
<!-- flaticon CSS -->
<link rel="stylesheet" href="/stylesheets/css/flaticon.css">
<!-- fontawesome CSS -->
<link rel="stylesheet" href="/fontawesome/css/all.min.css">
<!-- magnific CSS -->
<link rel="stylesheet" href="/stylesheets/css/magnific-popup.css">
<link rel="stylesheet" href="/stylesheets/css/gijgo.min.css">
<!-- niceselect CSS -->
<link rel="stylesheet" href="/stylesheets/css/nice-select.css">
<!-- slick CSS -->
<link rel="stylesheet" href="/stylesheets/css/slick.css">
<!-- style CSS -->
<link rel="stylesheet" href="/stylesheets/css/style.css">