<!DOCTYPE html>
<html>

<head>
  <% include ./shared/head %>
</head>

<body>
  <% include ./shared/header %>
  <% include ./shared/home/banner%>
  <% include ./shared/searchPage%>
  <% include ./shared/home/tourInside %>
  <% include ./shared/home/tourOutside %>
  <% include ./shared/footer %>
  <% include ./shared/chatlive %>
  <% include ./shared/javascripts %>
</body>

</html>